html{
overflow-y:scroll;
}
body{
padding-top:70px;
margin: 0;
padding: 0;
position: relative;
font-size: 12px;
font-family: Arial,sans-serif;
}

ul { list-style:none;
}
h1,h2,h3,h4{
margin: 0 0 10px 0;
letter-spacing: auto;      
font-size: 16px;
color: #111;
text-align: center;
}
 .sidenews{
  width:250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

  /*Set black background color, white text */
  .footer {
    background-color: #555;
    color: #cccccc;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer, .push{
    height:auto;
  }
  .checkbox input{
    display:inline-block;
  }

  /* Remove the navbar's margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0px 15px;
    text-decoration: none;
    color:#eee;
  }
  .navbar-default { 
    margin : 0 !important; 
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
    height: 100%;
    overflow: hidden;
  }
  
  /* Set blue background color and 100% height */
  .sidebar_section {
    padding-top: 20px;
    background-color: #6666ff;
    height: 100%;
    font-size: 14px;
  }
    
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidebar_section {
      height: auto;
      padding: 10px;
    }

  /*style sidebar calendar*/
  .main_section{
    background-color: #ff9966;
    margin-left: 40px;
  }

.social-link {
    overflow: auto;
    text-align:center;
}
.social-link ul li a{
  display: inline-block;
}

.social-link li {
  list-style-type: none;
  float: left;
  display:inline;
}

.social-link ul li a i {
  background: transparent;
  color: #205D7A;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  font-size: 40px;
  text-align: center;
  margin-right: 20px;
  padding-top: 25%;
}

.fa-facebook {
  background:#3b5998
} 
.fa-linkedin {
  background:#007bb6
}
.fa-twitter {
  background:#00aced
}
.google-plus {
  background:#dd4b39
}
.social-link li a i {
  transition: all 0.2s ease-in-out;
}
.social-lin li a i:hover {
  opacity: .7;
}
/* start style home.html */

  uib-slide img {
    bottom: 10px;
    left: 50px;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;
    position:absolute;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    color:black;
    overflow:hidden;
    text-align:center;
    }
    img{
      margin:auto;
    }

      :hover {
        box-shadow: 0px 1px 4px #444;
        transition: all .2s ease-in-out;
        border-color: #fff;
      }
      
      :active {
        opacity: .74;
        box-shadow: 0px 1px 8px #666;
    }
    .thumbnail{
      display:inline-block;
      width:200px;
      height:75px;
      margin:10px;
      overflow: hidden;
    }
    .clearfix::after{
      content:"";
      clear:both;
      display:table;
    }  
    .contact{
      font-size:8px;
    }
  
  .column {
   border:1px solid lightgray;
   border-radius:3px;
   padding:5px;
   overflow: hidden;
   position: relative;
   width: 25%;
   display: inline-block;
   margin-right: 10px;
   margin-bottom: 5px;
  }
  .checkboxes label {
  display: inline-block;
  margin-right:10px; 
  padding:10px;
  }
  button .grey{
    border-radius: 6px;
  }

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
/*style about page*/


.nav-list ul {
  padding-top:2px;
  border:1px solid #ddd;
  font-weight: 600;
  font-size-adjust: 12px;
  padding:0px;
  margin:0;
  list-style: none;
  cursor:pointer;
  font: 20px bold arial, sans-serif;

}
 .nav-list li{
  padding:10px;
  display:block;  
}
.nav-list li a{

}
.well{
  background-color:black;
}

.tab-content{
  width:75%;
  padding:0px;
  background-color:#999966;
  clear:left;
  color:#000;

}
.profile-image img{
  width:150px;
  height:150px;
}
.clearfix::after{
  content: "";
  clear:both;
  display: table;
}
.nav-list li.active>a,
.nav-list li.active>a:hover,
.nav-list li.active>a:focus{
  border-bottom-color:#0099cc;
  border-right-color:transparent;
}
/*style event Page*/
.event-row{
  margin: 0 auto;
}

.textCarousel uib-carousel uib-slide{
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;
    position:relative;
    background-color:#ff9966;
    color:#000; 
  }
  .textCarousel p{
    bottom:0;
    left:0;
    margin:auto;  
    height:300px;
    width:100%;
    position:absolute;
    right:0;
    top:0;
    overflow:hidden;
    text-align:center;  
  }
  .card{
    overflow: hidden;
    position:relative;
    display:inline-block;
    width: 23%;
    margin-bottom: 10px;
  }
  .item h4{
    font-size:18px;
    font-style: normal;
    margin:70px 0;
  }
  .item span{
  font-style:italic;
  }

  p{
    font-size:18px;
    font-weight: 200;
  }
  .text_slide{
    background: #eee;
  }
  .btn{
    font-weight:200;
    border-radius:6px;

  }
  .btn:hover{
    color:rgb(255,80,80);
    background:255,80,80,0.25;
    transition: background 500ms;
  }
  /*style pricing page*/
  .price{
    background-color: #000;
    color:#fff;
    font-weight:700;
    position: absolute;
    text-align:center;
  }

/* style audio.html */
.audioCenter{
  position:relative;
  width:100%;
  height:370px;
  margin:10px auto;
  background-color: #231F20;
  color:#000;
  display:table;
  border:1px solid #;
}
.column{
  width:inherit;
}
audio{
  margin:0 15px 0 15px;
  width:650px;
}

#player{
  text-align:center;
  background-color:#262626;
}
.rewind{
  position:relative;
  text-align:center;
}
#player p{
  text-align:left;
}
audio{
  width:600px;
}
#musica{
  margin:0;
}
#musica p{
  background-color: #231F20;
  cursor:pointer;
  display:block;
  margin:0;
  Padding:20px 0;
}
#musica p:hover{
  background-color:#999966;
}
.row_download{
  text-align:center; 
  height:100%;
  margin-left:50px;
  padding:0 0 5px;
  z-index: 9999; 
}
.row_download img{
  margin-right: 50px;
}


/*style photo.html */
#album img{
  display:inline-block;
  margin:20px;
  padding:1px;
  border:1px solid #000;
  width:200px;
}
div.desc{
  padding:15px;
  text-align:left;
}
/*style booking*/
button i{
  overflow:;
}
.black-bckground{
  background-color:#000;
}
.white{
  color:#fff;
}