<button type="button" class="btn btn-default btn-lg black-background white pull-right" onclick="history.go(-1);">Go back</button>

<div id="audioWrapper">
	<div id="player">
	    <audio controls="controls" id="audio-player">
	    	<source src="{{list.path}}"" type="audio/mp3"/>
	        your browser does not support HTML5 player
	    </audio></br>
	    <div class="rewind">
	        <a rel="nofollow" rel="noreferrer" id="btnPrev">&laquo;</a>
	        <a rel="nofollow" rel="noreferrer" id="btnNext">&raquo;</a>   
	    </div>
	    <br><span class="List.name">loading...</span>
	</div>
	<div id="Musica">
		<h5>The SwingCrew music List</h5>
	    <p><a href="#" class="audio play" data-music-id="1">Neonlight</a></p>
	    <p><a href="#" class="audio play" data-music-id="2">Happy birthday swing</a></p>
	    <p><a href="#" class="audio play" data-music-id="3">What a wonderful world</a></p>
	    <p><a href="#" class="audio play" data-music-id="4">Stand by me</a></p>
	    <p><a href="#" class="audio play" data-music-id="5">Neon</a></p>
	    <p><a href="#" class="audio play" data-music-id="6">Modern</a></p>
	</div>
</div>

<hr>
<H4>Download SwingCrew Music here!</H4>
<div class="row_download">
	<a href="https://www.apple.com/itunes/music"><img class="itunes" src='images/itunes.jpg' alt="itunes" width="200" height="60" /></a>
	<a href="https://play.google.com/store/music"><img class="googlePlay" src='images/googleplay1.jpg' alt="googleplay" width="200" height="80" /></a>
</div>