<button type="button" class="btn btn-default btn-lg black-background white pull-right" onclick="history.go(-1);">Go back</button>

<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><strong>Tell us something!</strong></p>

  <div class="row">
    <div class="col-md-3">
    <div class="contact" ng-repeat="c in contacts">
      <h4 ng-model="department">{{c.department}}</h4> 
      <p ng-model="email">
        <span class="glyphicon glyphicon-envelope"></span>
      Email Address:{{c.email}}
      </p>
      <p ng-model="telephone">
        <span class="glyphicon glyphicon-phone"></span>
      Telephone:{{c.telephone}}
      </p>
    </div>
  </div>

    <form name="contactForm" novalidate>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 form-group">
        <!-- NAME -->
            <div ng-class="{'form-error':contactForm.name.$dirty && contactForm.name.$invalid, 'form-group':true}">
              <input type="text" name="name" ng-model="formname" placeholder="Full Name" ng-minlength="3" required="" />
              <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$dirty" >
                <div ng-message="minlength">Name too short</div>
                <div ng-message="required">Required Name</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 form group">
        <!-- EMAIL -->
            <div ng-class="{'form-error':contactForm.email.$dirty && contactForm.email.$invalid, 'form-group':true}">
              <input type="email" name="email" ng-model="formemail" placeholder="Email address" required/>
              <div ng-messages="contactForm.email.$error" ng-show="contactForm.email.$dirty">
                <div ng-message="email">Invalid Email</div>
                <div ng-message="required">Required Email</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 form group">
        <!-- TEL -->
            <div ng-class="{'form-error':contactForm.tel.$dirty && contactForm.tel.$invalid, 'form-group':true}">
              <input type="text" name="tel" ng-pattern=/\d{3}-\d{3}-\d{4}/ ng-model="formtel" placeholder="Telephone number" required />
              <div ng-messages="contactForm.tel.$error" ng-show="contactForm.tel.$dirty">
                <div ng-message="pattern">Valid form: XXX-XXX-XXXX</div>
                <div ng-message="required">Required Phone</div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <textarea class="form-control" id="comments" name="message" placeholder="Message" rows="6"></textarea>
      <br>
        <!-- SUBMIT BUTTON -->
        <input type="submit" ng-click="processForm()" ng-disabled="contactForm.$invalid" value="submit" />
      </div>
    </form>
  </div>
</div>

