<h2><em>This is what we can do for you</em></h2>

<div class="card" ng-repeat="event in events">
  <event-info info="event"></event-info>
</div><br><br>

<div class="row"> 
  <h3 ng-model="title">{{reviewtitle}}</h3>
    <div id="slides_control" class="carousel-inner text-center" role="listbox">
      <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides" active="slide.active">
          <p class="textSlide" ng-model="review">{{slide.review}}</p>
          <span><em>{{slide.fan}}</em></span>
        </uib-slide>
          <div class="carousel-caption">
            <p>slide{{$index+1}}</p>
          </div>
      </uib-carousel>
    </div>

 