<!-- <div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Packages and Pricing</h2>
    <h4>Choose a package option that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-2 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <h3 class="pricetable-name">Bronze</h3>
          <h4 class="pricetable-price">£350</h4>
          <p>Day Time Only Package</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>      -->
<h2 id="solo">Packages and Prices</h2>
<p>For more information on the solo packages see the pricing information below and contact the booking department for more information.</p>

<div class="pricetable">
<div class="pricetable-inner">
      <div class="pricetable-column pricetable-standard pricetable-before-featured pricetable-first" style="width:23%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Bronze</h3>
          <h4 class="pricetable-price">£350</h4>
          <p>Day Time Only Package</p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/daytime-entertainment'>Live daytime entertainment</a> (click for more info)                                 <small>&nbsp;</small>
                              </div>
                          <div class="pricetable-feature ">
                <a href='/wedding-host'>Wedding Host / Toastmaster</a> (click for more info)                                  <small>(If your speeches are before the wedding breakfast)</small>
                              </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/bookings/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>
        
      </div>
    </div>
      <div class="pricetable-column pricetable-featured" style="width:31%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Silver</h3>
          <h4 class="pricetable-price">£500</h4>
          <p>Day Time / Early Evening Entertainment </p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/daytime-entertainment'>Live daytime entertainment</a> (click for more info)                                 <small>&nbsp;</small>
                              </div>
                          <div class="pricetable-feature ">
                <a href='/wedding-host'>Wedding Host / Toastmaster</a> (click for more info)                                  <small>&nbsp;</small>
                              </div>
                          <div class="pricetable-feature ">
                <a href='https://www.alexbirtwell.co.uk/early-evening-change-over-entertainment'>Early Evening Entertainment</a> (click for more info)                              </div>
                          <div class="pricetable-feature ">
                First Dance Performed Live                                  <small>(and arrangement learnt and demo recorded if not on the list)</small>
                              </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/bookings/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>
        
      </div>
    </div>
      <div class="pricetable-column pricetable-standard pricetable-after-featured" style="width:23%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Gold</h3>
          <h4 class="pricetable-price">£600</h4>
          <p>Complete Evening Entertainment Package</p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/solo-evening-entertainment'>Live Evening Entertainment</a> (Click for more info)                                  <small>2 x Live Sets</small>
                              </div>
                          <div class="pricetable-feature ">
                Free Disco Service with DJ and Stunning Lighting Show                                 <small>(if required)</small>
                              </div>
                          <div class="pricetable-feature ">
                First Dance Performed Live                                  <small>(and arrangement learnt and demo recorded if not on the list)</small>
                              </div>
                          <div class="pricetable-feature ">
                Live Finale                             </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/bookings/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>
        
      </div>
    </div>
      <div class="pricetable-column pricetable-standard pricetable-last" style="width:23%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Platinum</h3>
          <h4 class="pricetable-price">£800</h4>
          <p>Complete Day and Evening Package</p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/daytime-entertainment'>Live daytime entertainment</a> (click for more info)                                 <small>&nbsp;</small>
                              </div>
                          <div class="pricetable-feature ">
                <a href='/wedding-host'>Wedding Host / Toastmaster</a> (click for more info)                                  <small>&nbsp;</small>
                              </div>
                          <div class="pricetable-feature ">
                <a href='/solo-evening-entertainment'>Live Evening Entertainment</a> (Click for more info)                                  <small>(See below to add as the duo / band)</small>
                              </div>
                          <div class="pricetable-feature ">
                Free Disco Service with DJ and Stunning Lighting Show                                 <small>(if required)</small>
                              </div>
                          <div class="pricetable-feature ">
                First Dance Performed Live                                  <small>(and arrangement learnt and demo recorded if not on the list)</small>
                              </div>
                          <div class="pricetable-feature ">
                Live Finale                             </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/bookings/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>
        
      </div>
    </div>
    
  
  <div class="pricetable-clear"></div>
</div></div>
<blockquote><p>Would you like Alex to perform a laid back performance through your wedding ceremony and sing you down the aisle? This can be added to any package featuring live daytime entertainment<strong> from as little as £100.</strong> <a href="https://www.alexbirtwell.co.uk/wedding-ceremony-music">View more information on the wedding ceremony package</a> and view videos of previous ceremony performances.</p></blockquote>
<p>*<a href="#coverage">view coverage areas</a></p>
<p>&nbsp;</p>
<h2 id="duo">Duo Packages and Prices</h2>
<p><img class="alignleft wp-image-2757" src="https://www.alexbirtwell.co.uk/wp-content/uploads/2011/05/image1-300x199.jpg" alt="image" width="193" height="128" srcset="https://www.alexbirtwell.co.uk/wp-content/uploads/2011/05/image1-300x199.jpg 300w, https://www.alexbirtwell.co.uk/wp-content/uploads/2011/05/image1.jpg 800w" sizes="(max-width: 193px) 100vw, 193px" />Alex&#8217;s brother, <a href="http://www.lewisbirtwell.co.uk">Lewis Birtwell</a>, is also a renouned entertainer and great vocalist. Lewis can join Alex for the evening packages to give an added dimension and create an electric atmosphere.</p>
<p>For more information on the duo options available see the pricing information below and click the links in the packages for more details on the various contents.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="pricetable"><div class="pricetable-inner">
      <div class="pricetable-column pricetable-standard pricetable-before-featured pricetable-first" style="width:45%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Deluxe</h3>
          <h4 class="pricetable-price">£750</h4>
          <p>Complete Evening Entertainment</p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/duo-evening-wedding-entertainment'>Live Duo Evening Entertainment</a> (Click for more info)                                 <small>with Alex & Lewis</small>
                              </div>
                          <div class="pricetable-feature ">
                Free Disco with DJ & Stunning Light Show                              </div>
                          <div class="pricetable-feature ">
                First Dance Performed Live                                  <small>(and arrangement learnt and demo recorded if not on the list)</small>
                              </div>
                          <div class="pricetable-feature ">
                Live Finale                             </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/bookings/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>
        
      </div>
    </div>
      <div class="pricetable-column pricetable-featured pricetable-last" style="width:55%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Deluxe Plus</h3>
          <h4 class="pricetable-price">£950</h4>
          <p>Day and Evening Entertainment</p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/daytime-entertainment'>Live daytime entertainment</a> (click for more info)                                 <small>from Alex</small>
                              </div>
                          <div class="pricetable-feature ">
                <a href='/wedding-host'>Wedding Host / Toastmaster</a> (click for more info)                              </div>
                          <div class="pricetable-feature ">
                <a href='/duo-evening-wedding-entertainment'>Live Duo Evening Entertainment</a> (Click for more info)                                 <small>with Alex & Lewis</small>
                              </div>
                          <div class="pricetable-feature ">
                Free Disco with DJ & Stunning Light Show                              </div>
                          <div class="pricetable-feature ">
                First Dance Performed Live                                  <small>(and arrangement learnt and demo recorded if not on the list)</small>
                              </div>
                          <div class="pricetable-feature ">
                Live Finale                             </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/booking/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>
        
      </div>
    </div>
    
  
  <div class="pricetable-clear"></div>
</div></div>
<blockquote><p>Would you like Alex to perform a laid back performance through your wedding ceremony and sing you down the aisle? This can be added to any package featuring live daytime entertainment<strong> from as little as £100.</strong> <a href="https://www.alexbirtwell.co.uk/wedding-ceremony-music">View more information on the wedding ceremony package</a> and view videos of previous ceremony performances.</p></blockquote>
<p>*<a href="#coverage">view coverage areas</a></p>
<h2 id="mie">Full Band Packages and Prices</h2>
<p><a href="http://www.madeinenglandband.com"><img class="alignleft size-thumbnail wp-image-2045" title="Made in England International Party Band" src="https://www.alexbirtwell.co.uk/wp-content/uploads/2012/11/HK-2012-171-150x150.jpg" alt="" width="150" height="150" /></a>Alex is proud to perform as part of PPB &#8211; Premiere Party Band, with a wealth of experience having played at various functions world wide. Why not add the WOW factor to your entertainment package.</p>
<p>With a broad collection of rock anthems and pop classics all the way from the 60′s upto current day material, your perfect musical soundtrack can be tailored to your event.</p>
<p>For more information on the band packages see the pricing information below and click the links in the packages for more details on the various package contents.</p>
<div class="pricetable"><div class="pricetable-inner">
      <div class="pricetable-column pricetable-standard pricetable-before-featured pricetable-first" style="width:45%">
      <div class="pricetable-column-inner">
        <div class="pricetable-header">
          <h3 class="pricetable-name">Premier</h3>
          <h4 class="pricetable-price">£1400</h4>
          <p>Complete evening entertainment with live band and disco</p>
        </div>
        
        <div class="features">
                                    <div class="pricetable-feature pricetable-first">
                <a href='/premiere-party-band-evening-entertainment'>Live Evening Entertainment with the Party Band</a> (Click for more info)                                 <small>&nbsp;</small>
                              </div>
                          <div class="pricetable-feature ">
                Free Disco with DJ & Stunning Light Show                              </div>
                          <div class="pricetable-feature ">
                First Dance Performed Live by the band or acoustically by Alex                                  <small>(and arrangement learnt and demo recorded if not on the list)</small>
                              </div>
                          <div class="pricetable-feature ">
                Live Finale by Alex                             </div>
                              </div>
        
        <div class="pricetable-button-container">
          <a href="/bookings/">
            <span class="pricetable-gradient"><span class="pricetable-noise">Enquire Today</span></span>
          </a>
        </div>



