<h3>{{home.title}}</h3>
  <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="height:300px; width:600px;">
    </uib-slide>
      <div class="carousel-caption">
      	<h3>{{slide.caption}}</h3>
        <h5>{{slide.id}}</h5>
      </div>
  	</uib-carousel>

<h4>{{home.title2}}</h4>
<p> Welcome to the official site of <strong>SwingCrew.</strong> SwingCrew is a collaboration between Jazz and Swing music. We have six frequent band members who started the band while they were college students. The concentration of the our sound is based on the Drums and double bass. The Band however is composed of instrument specialists in trombones(saxophone and clarinets) and also the Piano.</p> 

<p>The Music is well written and formatted by the group leader Greg Firsher. Our type of Music has a strong Swing focus making it suitable for events and gatherings. It gets most people to the dance Floor.SwingCrew has perfomed and produced danceable music that is available to listen and download. We also often upload video performances from our live events showcased on this site and more are on youtube.</p>
