<h3>{{home.title}}</h3>
<div style="height: 350px background-color:#333">
  <uib-carousel id="mycarousel" active="active" interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto; width:500px; height: 345px;">
      <div class="carousel-caption">
        <p>{{slide.caption}}</p>
      </div>
    </uib-slide>
  </uib-carousel>
</div>


<h4><em>{{home.title2}}</em></h4>
<p> Welcome to the official site of <strong>SwingCrew.</strong> SwingCrew is a collaboration between Jazz and Swing music. We have six frequent band members who started the band while they were college students. </p> 

<p>The Music is well written and formatted by the group leader Greg Firsher. Our type of Music has a strong Swing focus making it suitable for events and gatherings.</p>
